{% extends 'user/base.html.twig' %}

{% block value %}
  <div id="Subject">
    <ul>
      <li class="type_text">关于我们</li>
      <li class="bg_line"></li>
    </ul>
    <div class="content">
      <img src="{{ asset('images/about-us.jpg') }}" style="margin-bottom:12px"><br />
      　　绿色互助家园(lhy)是一家总部位于波士顿的投资公司，香港和上海。RCI的主席呢绿色互助家园基金是美国前总统西奥多第二十六任总统绿色互助家园的曾孙，和美国总统富兰克林D绿色互助家园第三十二总统的侄子，也是目前西奥多绿色互助家园协会的主席，这是由美国国会法案1920（美国法典标题36）。
      RCI的亚洲业务包括私募股权基金以及投资主体。RCI是投资国内消费零售企业在中国特别感兴趣。在这方面，RCI目前投资披萨连锁、食品包装和葡萄酒企业。绿色互助家园的家，绿色互助家园的商业发展（上海）有限公司，RCI公司的子公司，是一个展示RCI的努力在奢侈品零售餐饮以及好的葡萄酒；自2010九月成立，绿色互助家园已经获得九个奖项，包括装璜、城市周末，君子和鲁伯特报告的最佳奖。
    </div>
  </div>
{%  endblock %}
