{% extends 'base.html.twig' %}

{% block body %}
  <body id="home">
    <div class="home">
      <br><br><br><br><br><br>
                  <a class="enter" href="{{ path('user_homepage')  }}">进入官网</a>
                  <div class="copyright">Copyright © 2016  中国fund基金 版权所有</div>
    </div>
  </body>
</div>
{% endblock %}
