{% extends 'user/base.html.twig' %}

{% block title %}register{% endblock %}
{% block content_right %}
{% for book_order in book_orders %}
    <table class="table">
        <thead>
            <th></th>
        </thead>
    </table>
{% endfor %}
{% endblock %}