{% extends 'admin/base.html.twig' %}

{% block content %}
  <h4>#奖金查询</h4>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" name="date" class="form-control" id="exampleInputEmail3" placeholder="日期: 2016-1-11">
    </div>
    <div class="form-group">
      <input type="text" name="username" class="form-control" id="exampleInputPassword3" placeholder="会员编号">
    </div>
    <button type="submit" class="btn btn-default">搜索</button>
  </form>
  <br>
  <table class="table table-hover table-bordered">
    <thead>
      <th>结算时间</th>
      <th>本息</th>
      <th>基金</th>
      <th>合计</th>
      <th>详细</th>
    </thead>
    <tbody>

      <tr>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
      </tr>

      <tr>
        <td>合计</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-info">导出到Excel</a>
  </div>
{% endblock %}
