{% extends 'admin/base.html.twig' %}

{% block content %}
  <h4>#当期出纳</h4>
  <table class="table table-hover table-bordered">
    <thead>
      <th>序列号</th>
      <th>结算时间</th>
      <th>当期收入</th>
      <th>当期支出</th>
      <th>本期赢利</th>
      <th>拔出比率</th>
    </thead>
    <tbody>

      <tr>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
      </tr>

      <tr>
        <td>合计</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-info">导出到Excel</a>
  </div>
{% endblock %}
