* {
	margin: 0px; padding: 0px; border-radius: 0px !important; transition:0.3s linear; box-shadow: none; -ms-touch-action: manipulation; touch-action: manipulation; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
*:focus {
	
}
*:active {
	
}
html {
	height: 100%; -ms-overflow-x: hidden; -ms-overflow-style: scrollbar;
}
body {
	font: 14px/1.5em "Microsoft Yahei Light", "Microsoft Yahei", Verdana, Arial; height: 100%; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal; text-shadow: 0px 0px 3px rgba(255,255,255,0.4); background-attachment: fixed; background-size: 100% 100%;
}
#indexbd {
	font: 14px/1.5em "Microsoft Yahei Light", "Microsoft Yahei", Verdana, Arial; height: 100%; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal; text-shadow: 0px 0px 3px rgba(255,255,255,0.4); background-image: url("../images/body_night.jpg"); background-attachment: fixed; background-size: 100% 100%; background-color: rgb(88, 21, 40);
}
#passport {
	font: 14px/1.5em "Microsoft Yahei Light", "Microsoft Yahei", Verdana, Arial; height: 100%; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal; text-shadow: 0px 0px 3px rgba(255,255,255,0.4); background-image: url("../images/body_night.jpg"); background-attachment: fixed; background-size: 100% 100%; background-color: rgb(88, 21, 40);
}
body {
	-webkit-font-smoothing: antialiased;
}
button {
	-webkit-font-smoothing: antialiased;
}
input {
	-webkit-font-smoothing: antialiased;
}
textarea {
	-webkit-font-smoothing: antialiased;
}
select {
	-webkit-font-smoothing: antialiased;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	vertical-align: baseline; display: inline-block;
}
canvas {
	vertical-align: baseline; display: inline-block;
}
progress {
	vertical-align: baseline; display: inline-block;
}
video {
	vertical-align: baseline; display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
input {
	background: rgba(0, 0, 0, 0.35); font: 14px/1em "Microsoft Yahei Light", "Microsoft Yahei"; padding: 8px 10px; border-radius: 2px !important; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
textarea {
	background: rgba(0, 0, 0, 0.35); font: 14px/1em "Microsoft Yahei Light", "Microsoft Yahei"; padding: 8px 10px; border-radius: 2px !important; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
select {
	background: rgba(0, 0, 0, 0.35); font: 14px/1em "Microsoft Yahei Light", "Microsoft Yahei"; padding: 8px 10px; border-radius: 2px !important; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
button {
	background: rgba(0, 0, 0, 0.35); font: 14px/1em "Microsoft Yahei Light", "Microsoft Yahei"; padding: 8px 10px; border-radius: 2px !important; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
button {
	background: rgba(0, 0, 0, 0.5); padding: 10px 20px; font-weight: bold; cursor: pointer;
}
input[type='button'] {
	background: rgba(0, 0, 0, 0.5); padding: 10px 20px; font-weight: bold; cursor: pointer;
}
input[type='submit'] {
	background: rgba(0, 0, 0, 0.5); padding: 10px 20px; font-weight: bold; cursor: pointer;
}
input[type='reset'] {
	background: rgba(0, 0, 0, 0.5); padding: 10px 20px; font-weight: bold; cursor: pointer;
}
button:hover {
	background: rgba(0, 0, 0, 0.8); color: rgb(255, 214, 0);
}
input[type='button']:hover {
	background: rgba(0, 0, 0, 0.8); color: rgb(255, 214, 0);
}
input[type='submit']:hover {
	background: rgba(0, 0, 0, 0.8); color: rgb(255, 214, 0);
}
input[type='reset']:hover {
	background: rgba(0, 0, 0, 0.8); color: rgb(255, 214, 0);
}
select {
	padding: 8px;
}
a {
	color: rgb(255, 255, 255); text-decoration: none; text-shadow: 0px 0px 3px rgba(255,255,255,0.4);
}
a:hover {
	color: rgb(255, 214, 0); text-decoration: none;
}
a:focus {
	color: rgb(255, 214, 0); text-decoration: none;
}
a.underline {
	border-bottom-color: rgba(255, 255, 255, 0.35); border-bottom-width: 1px; border-bottom-style: dotted;
}
a.underline:hover {
	border-color: rgb(255, 214, 0);
}
a.underline:focus {
	border-color: rgb(255, 214, 0);
}
small {
	color: rgb(255, 255, 255);
}
img {
	max-width: 100%;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}
h5 {
	font-weight: normal;
}
h6 {
	font-weight: normal;
}
.m4 {
	margin: 10px;
}
.mt {
	margin-top: 10px;
}
.mr {
	margin-right: 10px;
}
.mb {
	margin-bottom: 10px;
}
.ml {
	margin-left: 10px;
}
.p4 {
	padding: 10px;
}
.pt {
	padding-top: 10px;
}
.pr {
	padding-right: 10px;
}
.pb {
	padding-bottom: 10px;
}
.pl {
	padding-left: 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	-ms-zoom: 1;
}
.clear::after {
	height: 0px; clear: both; display: block; content: "";
}
.cls {
	height: 0px; line-height: 0px; clear: both; font-size: 0px;
}
.fa {
	font-family: FontAwesome, "Microsoft Yahei Light", "Microsoft Yahei";
}
#smssender {
	background: rgba(0, 0, 0, 0.5); padding: 0px 10px; border-radius: 4px !important; line-height: 35px; font-size: 13px; margin-left: 6px; display: inline-block;
}
#mailsender {
	background: rgba(0, 0, 0, 0.5); padding: 0px 10px; border-radius: 4px !important; line-height: 35px; font-size: 13px; margin-left: 6px; display: inline-block;
}
#passport header {
	background: rgba(0, 0, 0, 0.3); margin: 30px auto 0px; width: 460px;
}
#passport footer {
	font: 11px/1em "Microsoft Yahei Light", "Microsoft Yahei"; padding: 10px 0px; text-align: center; text-transform: uppercase; font-size-adjust: none; font-stretch: normal;
}
#passport h1 {
	background-position: 50% 20px; font: 38px/1em "Microsoft Yahei Light", "Microsoft Yahei"; text-align: center; text-transform: uppercase; padding-top: 150px; font-size-adjust: none; font-stretch: normal; background-image: url("../images/logo.png"); background-repeat: no-repeat;
}
#passport h2 {
	font: 22px/1.5em "Microsoft Yahei Light", "Microsoft Yahei"; text-align: center; text-transform: uppercase; font-size-adjust: none; font-stretch: normal;
}
#passport main {
	background: rgba(0, 0, 0, 0.3); margin: 0px auto; padding: 30px 30px 60px; width: 400px;
}
#passport main input {
	margin: 8px 0px;
}
#passport main button {
	margin: 8px 0px;
}
#passport main select {
	margin: 8px 0px;
}
#passport main .lang {
	background: rgba(0, 0, 0, 0.3); margin: 8px 0px; padding: 0px; border-radius: 2px !important; text-align: center; line-height: 35px; display: block;
}
#passport main .title {
	background: rgba(0, 0, 0, 0.3); margin: 8px 0px; padding: 0px; border-radius: 2px !important; text-align: center; line-height: 35px; display: block;
}
#passport main .full {
	width: calc(100% - 20px);
}
#center_layout { border-top:0; _display:inline; width:100%; height:100%}
@media all and (max-width:780px)
{
#passport h1 {
	font-size: 28px;
}
#passport h2 {
	font-size: 18px;
}
#passport header {
	margin: 0px 15px; width: calc(100% - 30px);
}
#passport main {
	margin: 0px 15px; width: calc(100% - 90px);
}
}
